
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1471401766'); /* IE9*/
  src: url('iconfont.eot?t=1471401766#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1471401766') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1471401766') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1471401766#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-location:before { content: "\e603"; }
.icon-icon3:before { content: "\e625"; }
.icon-icon31:before { content: "\e624"; }
.icon-icon32:before { content: "\e623"; }
.icon-icon33:before { content: "\e622"; }
.icon-icon34:before { content: "\e621"; }
.icon-icon35:before { content: "\e620"; }
.icon-icon36:before { content: "\e61f"; }
.icon-2:before { content: "\e61e"; }
.icon-pancel:before { content: "\e600"; }
.icon-coupon:before { content: "\e601"; }
.icon-user:before { content: "\e602"; }
.icon-mobile:before { content: "\e604"; }
.icon-crown:before { content: "\e605"; }
.icon-like:before { content: "\e606"; }
.icon-gift:before { content: "\e607"; }
.icon-edit:before { content: "\e608"; }
.icon-coupon-my:before { content: "\e609"; }
.icon-heart:before { content: "\e60a"; }
.icon-arrow-right:before { content: "\e60b"; }
.icon-user2:before { content: "\e60c"; }
.icon-cellphone:before { content: "\e60d"; }
.icon-coupon2:before { content: "\e60e"; }
.icon-food:before { content: "\e60f"; }
.icon-shopping:before { content: "\e610"; }
.icon-hotel:before { content: "\e611"; }
.icon-q:before { content: "\e612"; }
.icon-house:before { content: "\e614"; }
.icon-mai:before { content: "\e615"; }
.icon-underwear:before { content: "\e616"; }
.icon-sport:before { content: "\e617"; }
.icon-get:before { content: "\e618"; }
.icon-empty:before { content: "\e619"; }
.icon-mail:before { content: "\e61a"; }
.icon-outdate:before { content: "\e61b"; }
.icon-yuan:before { content: "\e61c"; }
.icon-car:before { content: "\e61d"; }
