<!DOCTYPE html>
<html lang="en" ng-app="newMissionApp">
<head>
    <title>任务大厅</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/0.4.3/weui.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/example.css',_external=True) }}"/>
    <script src="{{ url_for('static',filename='js/jquery.js',_external=True) }}"></script>
    <style>
        .skilltag{
            padding: 2px 4px;
            font-size: 90%;
            color: #888;
            background-color: #e5e5e5;
            border-radius: 4px;
        }
    </style>
</head>
<body>


<div class="page">
    <div class="hd">
        <h1 class="page_title">IT类项目</h1>
    </div>
    <div class="bd">
       <div class="weui_panel weui_panel_access">
            <!-- <div class="weui_panel_hd">文字组合列表</div> -->
            <div class="weui_panel_bd">
            {% for item in missions %}

                <a href="{{item.mission_id}}" class="weui_media_box weui_media_appmsg">
                    <div class="weui_media_bd">

                    {% for i in item.skill_need %}
                        {% if i=="network" %}
                        <span class="skilltag">网络</span>&nbsp;
                        {% elif i=="server" %}
                        <span class="skilltag">服务器</span>&nbsp;
                        {% elif i=="os" %}
                        <span class="skilltag">操作系统</span>&nbsp;
                        {% elif i=="database" %}
                        <span class="skilltag">数据库</span>&nbsp;
                        {% elif i=="virtual" %}
                        <span class="skilltag">虚拟化</span>&nbsp;
                        {% else %}
                        {% endif %}
                    {% endfor %}





                        <h4 class="weui_media_title">{{item.name}}</h4>
                        <p class="weui_media_desc">{{item.description}}</p>
                    </div>
                </a>


            {% endfor %}
            </div>
            <a href="javascript:void(0);" class="weui_panel_ft">查看更多</a>
        </div>
    </div>
</div>




    
</body>
</html>