<!DOCTYPE html>
<html lang="en" ng-app="newMissionApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/0.4.3/weui.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/example.css',_external=True) }}"/>
    <script src="{{ url_for('static',filename='js/jquery.js',_external=True) }}"></script>
    <!-- <script src="{{ url_for('static',filename='js/angular.js',_external=True) }}"></script> -->
    <!-- <script src="{{ url_for('static',filename='js/angular-route.js',_external=True) }}"></script> -->
    <!-- <script src="{{ url_for('static',filename='js/angular-animate.js',_external=True) }}"></script> -->
    <!-- <script src="{{ url_for('static',filename='js/toast.js',_external=True) }}"></script> -->
    <!-- <script src="{{ url_for('static',filename='js/app.js',_external=True) }}"></script> -->
    <!-- <script src="{{ url_for('static',filename='js/router.min.js',_external=True) }}"></script> -->
    <!-- <script src="{{ url_for('static',filename='js/example.js',_external=True) }}"></script> -->
    <title>{{mission_obj.name}}</title>



</head>
<body>
<!-- <div ng-if="homeShow"> -->

<div class="page">
    <!-- <div class="hd"> -->
        <h1 class="page_title">{{mission_obj.name}}</h1>
        <div style="text-align: center;">
          <button class="weui_btn weui_btn_mini weui_btn_primary" disabled="disabled">发布</button>
          <button class="weui_btn weui_btn_mini weui_btn_default" disabled="disabled">审核</button>
          <button class="weui_btn weui_btn_mini weui_btn_default" disabled="disabled">竞标</button>
          <button class="weui_btn weui_btn_mini weui_btn_default" disabled="disabled">工作</button>
          <button class="weui_btn weui_btn_mini weui_btn_default" disabled="disabled">评价</button>
        </div>
    <!-- </div> -->



    <div class="bd">
        <article class="weui_article">
            <!-- <h1>大标题</h1> -->
            <section>
            <h2>任务类型:{{mission_obj.mission_type}}</h2>
                <section>
                    <h3>任务描述:</h3>
                    <p>{{mission_obj.description}}</p>
                </section>

            </section>
        </article>
    </div>
</div>


    
    <!-- 确认对话框 -->
    <div class="weui_dialog_confirm" style="display: none;" id="dialog">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"><strong class="weui_dialog_title">确认提示</strong></div>
            <div class="weui_dialog_bd">确认提交当前信息么？</div>
            <div class="weui_dialog_ft">
                <a href="javascript:hideDialog();" class="weui_btn_dialog default">取消</a>
                <a href="javascript:formsubmit();" class="weui_btn_dialog primary">确定</a>
            </div>
        </div>
    </div>


    <!-- 提交按钮 -->
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary" href="javascript:showDialog();" id="showTooltips">确认提交</a>
    </div>

</div>















<!-- <div class="view" ng-view ng-if="viewShow"></div> -->




<!-- 表单尾 -->
</form>
<script type="text/javascript">
  function showDialog(){
    $("#dialog").css("display","block");
  }
  function hideDialog(){
    $("#dialog").css("display","none");
  }
  function formsubmit(){
    $("form").submit();
  }
</script>


</body>
</html>