<!DOCTYPE html>
<html lang="en" ng-app="newMissionApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/0.4.3/weui.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/example.css',_external=True) }}"/>
    <script src="{{ url_for('static',filename='js/jquery.js',_external=True) }}"></script>
    <!-- <script src="{{ url_for('static',filename='js/angular.js',_external=True) }}"></script> -->
    <!-- <script src="{{ url_for('static',filename='js/angular-route.js',_external=True) }}"></script> -->
    <!-- <script src="{{ url_for('static',filename='js/angular-animate.js',_external=True) }}"></script> -->
    <!-- <script src="{{ url_for('static',filename='js/toast.js',_external=True) }}"></script> -->
    <!-- <script src="{{ url_for('static',filename='js/app.js',_external=True) }}"></script> -->
    <!-- <script src="{{ url_for('static',filename='js/router.min.js',_external=True) }}"></script> -->
    <!-- <script src="{{ url_for('static',filename='js/example.js',_external=True) }}"></script> -->
    <title>{{mission_obj.name}}</title>



</head>
<body>
<!-- <div ng-if="homeShow"> -->

<div class="page">
    <!-- <div class="hd"> -->
        <h1 class="page_title">{{mission_obj.name}}</h1>
        <div style="text-align: center">
          <button class="weui_btn weui_btn_mini weui_btn_primary" disabled="disabled">发布</button>
          <button class="weui_btn weui_btn_mini weui_btn_primary" disabled="disabled">审核</button>
          <button class="weui_btn weui_btn_mini weui_btn_primary" disabled="disabled">竞标</button>
          <button class="weui_btn weui_btn_mini weui_btn_default" disabled="disabled">工作</button>
          <button class="weui_btn weui_btn_mini weui_btn_default" disabled="disabled">评价</button>
        </div>
    <!-- </div> -->



    <div class="bd">
        <article class="weui_article">
            <!-- <h1>大标题</h1> -->
            <section>
                <h3>任务类型:</h3>
                <p>{{mission_obj.mission_type}}</p>
            </section>
            <section>
                <h3>任务描述:</h3>
                <p>{{mission_obj.description}}</p>
            </section>
            <section>
                <h3>技能需求:</h3>
                <p>
                {% for item in mission_obj.skill_need %}
                    {% if item=="network" %}
                    网络;
                    {% elif item=="server" %}
                    服务器;
                    {% elif item=="os" %}
                    操作系统;
                    {% elif item=="database" %}
                    数据库;
                    {% elif item=="virtual" %}
                    虚拟化;
                    {% else %}
                    {% endif %}
                {% endfor %}
                </p>
            </section>
            {% if mission_obj.bounty!='' %}
            <section>
                <h3>任务悬赏:</h3>
                <p>{{mission_obj.bounty}}</p>
            </section>
            {% endif %}

            {% if mission_obj.deadline!='' %}
            <section>
                <h3>截止日期:</h3>
                <p>{{mission_obj.deadline}}</p>
            </section>
            {% endif %}
        </article>
    </div>
</div>

















<div class="weui_panel weui_panel_access">
    <div class="weui_cells_title">发表评论</div>
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary" id="wordCount">
                <textarea class="weui_textarea" placeholder="请输入评论" rows="3" maxlength="200"></textarea>
                <div class="weui_textarea_counter"><span class="word">0</span>/200</div>
            </div>
        </div>
    </div>
    <div class="bd spacing">
        <div class="button_sp_area">
            <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default" style="float:right;margin:10px;">提交</a>
        </div>
    </div>

    <br>

    <div class="weui_panel_hd">评论</div>
    <div class="weui_panel_bd">
        <div class="weui_media_box weui_media_text">
            <h4 class="weui_media_title">标题一</h4>
            <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
        </div>
        <div class="weui_media_box weui_media_text">
            <h4 class="weui_media_title">标题二</h4>
            <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
        </div>
    </div>
    <a href="javascript:void(0);" class="weui_panel_ft">查看更多</a>
</div>















    
    <!-- 确认对话框 -->
    <div class="weui_dialog_confirm" style="display: none;" id="dialog">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"><strong class="weui_dialog_title">确认提示</strong></div>
            <div class="weui_dialog_bd">确认提交当前信息么？</div>
            <div class="weui_dialog_ft">
                <a href="javascript:hideDialog();" class="weui_btn_dialog default">取消</a>
                <a href="javascript:formsubmit();" class="weui_btn_dialog primary">确定</a>
            </div>
        </div>
    </div>


    <!-- 提交按钮 -->
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary" href="javascript:showDialog();" id="showTooltips">竞标</a>
    </div>

</div>















<!-- <div class="view" ng-view ng-if="viewShow"></div> -->




<!-- 表单尾 -->
</form>
<script type="text/javascript">
  $(function(){
        //先选出 textarea 和 统计字数 dom 节点
        var wordCount = $("#wordCount"),
            textArea = wordCount.find("textarea"),
            word = wordCount.find(".word");
        //调用
        statInputNum(textArea,word);
    });
    function statInputNum(textArea,numItem) {
        var max = numItem.text(),
        curLength;
        textArea[0].setAttribute("maxlength", max);
        curLength = textArea.val().length;
        numItem.text(max - curLength);
        textArea.on('input propertychange', function () {
            numItem.text(max - $(this).val().length);
        });
    };


  function showDialog(){
    $("#dialog").css("display","block");
  }
  function hideDialog(){
    $("#dialog").css("display","none");
  }
  // function formsubmit(){
  //   $("form").submit();
  // }



</script>


</body>
</html>