<!DOCTYPE html>
<html lang="en" ng-app="newMissionApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/0.4.3/weui.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/example.css',_external=True) }}"/>
    <script src="{{ url_for('static',filename='js/jquery.js',_external=True) }}"></script>
</head>
<body>


<div class="page">
    <div class="hd">
        <h1 class="page_title">任务大厅</h1>
    </div>
    <div class="bd">
       <div class="weui_panel weui_panel_access">
            <div class="weui_panel_hd">文字组合列表</div>
            <div class="weui_panel_bd">
                <div class="weui_media_box weui_media_text">
                    <h4 class="weui_media_title">标题一</h4>
                    <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                </div>
                <div class="weui_media_box weui_media_text">
                    <h4 class="weui_media_title">标题二</h4>
                    <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                </div>
            </div>
            <a href="javascript:void(0);" class="weui_panel_ft">查看更多</a>
        </div>
    </div>
</div>




    
</body>
</html>