<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/0.4.3/weui.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/example.css',_external=True) }}"/>
    <script src="{{ url_for('static',filename='js/jquery.js',_external=True) }}"></script>
    <script src="{{ url_for('static',filename='js/router.min.js',_external=True) }}"></script>
    <title>新任务</title>



</head>
<body>
    <h1>haha</h1>
    <div class="container" id="container"></div>

<script type="text/html" id="new_mission">
<!-- 表单头 -->
<form method="POST">
<!-- 个人信息 -->
<input type="hidden" name="publisher" value="{{ openid }}">

<!-- 当前流程 -->
<div style="text-align: center;margin-top: 20px;">
  <button class="weui_btn weui_btn_mini weui_btn_primary">发布</button>
  <button class="weui_btn weui_btn_mini weui_btn_default">审核</button>
  <button class="weui_btn weui_btn_mini weui_btn_default">竞标</button>
  <button class="weui_btn weui_btn_mini weui_btn_default">工作</button>
  <button class="weui_btn weui_btn_mini weui_btn_default">评价</button>
</div>
<!-- 外围框 -->
<div class="bd">

    <!-- <div class="weui_cells_title"></div> -->
    <div class="weui_cells weui_cells_access">
        <a class="weui_cell" href="#/button">
            <div class="weui_cell_bd weui_cell_primary">
                <p>任务名称</p>
            </div>
            <div class="weui_cell_ft">请尽量精简</div>
        </a>
        <div class="weui_cell weui_cell_select weui_select_after">
            <div class="weui_cell_hd">
                <label for="" class="weui_label">任务类型</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <select class="weui_select" name="select2">
                    <option value="1">IT类</option>
                    <option value="2">非IT类</option>
                </select>
            </div>
        </div>
    </div>
    <div class="weui_cells_title">任务描述</div>
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <textarea class="weui_textarea" placeholder="请输入对该任务的细节描述" rows="10"></textarea>
                <!-- <div class="weui_textarea_counter"><span>0</span>/200</div> -->
            </div>
        </div>
    </div>

    <div class="weui_cells_title">技能需求</div>
    <div class="weui_cells weui_cells_checkbox">
        <label class="weui_cell weui_check_label" for="s11">
            <div class="weui_cell_hd">
                <input type="checkbox" class="weui_check" name="checkbox1" id="s11" checked="checked">
                <i class="weui_icon_checked"></i>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>网络设备</p>
            </div>
        </label>
        <label class="weui_cell weui_check_label" for="s12">
            <div class="weui_cell_hd">
                <input type="checkbox" name="checkbox1" class="weui_check" id="s12">
                <i class="weui_icon_checked"></i>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>硬件服务器</p>
            </div>
        </label>
        <label class="weui_cell weui_check_label" for="s13">
            <div class="weui_cell_hd">
                <input type="checkbox" name="checkbox1" class="weui_check" id="s13">
                <i class="weui_icon_checked"></i>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>操作系统</p>
            </div>
        </label>
        <label class="weui_cell weui_check_label" for="s14">
            <div class="weui_cell_hd">
                <input type="checkbox" name="checkbox1" class="weui_check" id="s14">
                <i class="weui_icon_checked"></i>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>数据库</p>
            </div>
        </label>
        <label class="weui_cell weui_check_label" for="s15">
            <div class="weui_cell_hd">
                <input type="checkbox" name="checkbox1" class="weui_check" id="s15">
                <i class="weui_icon_checked"></i>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>虚拟化</p>
            </div>
        </label>
    </div>
    <div class="weui_cells_title">选填</div>
    <div class="weui_cells weui_cells_access">
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_bd weui_cell_primary">
                <p>悬赏金额</p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <div class="weui_cell">
            <div class="weui_cell_hd"><label for="" class="weui_label">截止日期</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" name="deadline" type="date" value="" placeholder=""/>
            </div>
        </div>
    </div>
    <div class="weui_cells_tips">悬赏金额不填写则进入竞标模式，截止日期如不填写则默认不限定任务完成日期</div>
    
    <!-- 确认对话框 -->
    <div class="weui_dialog_confirm" style="display: none;" id="dialog">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"><strong class="weui_dialog_title">确认提示</strong></div>
            <div class="weui_dialog_bd">确认提交当前信息么？</div>
            <div class="weui_dialog_ft">
                <a href="javascript:hideDialog();" class="weui_btn_dialog default">取消</a>
                <a href="javascript:formsubmit();" class="weui_btn_dialog primary">确定</a>
            </div>
        </div>
    </div>


    <!-- 提交按钮 -->
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary" href="javascript:showDialog();" id="showTooltips">确认提交</a>
    </div>

</div>


</script>





<!-- 任务名称 -->
<script type="text/html" id="mission_name">
    <div class="hd">
        <h1>mission_name</h1>
    </div>
</script>

<!-- 任务描述 -->
<script type="text/html" id="mission_description">
    <div class="hd">
        <h1>mission_description</h1>
    </div>
</script>

<!-- 悬赏金额 -->
<script type="text/html" id="mission_bounty">
    <div class="hd">
        <h1>mission_bouty</h1>
    </div>
</script>














<!-- 表单尾 -->
</form>

<script type="text/javascript">
  function showDialog(){
    $("#dialog").css("display","block");
  }
  function hideDialog(){
    $("#dialog").css("display","none");
  }
  function formsubmit(){
    $("form").submit();
  }
</script>



</body>
</html>