<style type="text/css">
.line{
    border: 0;
    outline: none;
    border-bottom: 1px solid  #07BD05;
    display: block;
    width: 94%;
    padding: 5px 6px;
    margin: 20px auto;
    background-color: #fbf9fe;
    font-size: 15px;

}
</style>
<div class="bd spacing">
    <!-- <div class="line-input"> -->

        <input class="line" placeholder="请输入20字以内项目名" autofocus="true" maxlength="20">
        <a href="#" id="mission_name_content" class="weui_btn weui_btn_primary">保存</a>
        <h1></h1>
        <!-- <h1>{{ mission_name_content }}</h1> -->
        <!-- <div id="line-input" class="test_box" contenteditable="true" onkeypress="return (this.innerText.length <= 10)"><br /></div>  -->
        <!-- <div contenteditable="true" name="choice1" class="textfield"></div> -->
    <!-- </div> -->
</div>